-----BEGIN RSA PRIVATE KEY-----
REPLACE_WITH_YOUR_ACTUAL_KEY_FROM_KALSHI
Download from Kalshi: Account & Security → API Keys → Create Key
Save the .key file contents here, then:
  1. Copy this file to .kalshi-private.pem
  2. Replace the line above with your real PEM (multiple lines)
  3. chmod 600 .kalshi-private.pem
-----END RSA PRIVATE KEY-----
